
.seat-theatre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  height: 90vh;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.screen {
  width: 50%;
  height: 30px;
  background-color: #333;
  color: white;
  text-align: center;
  line-height: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  font-weight: bold;
}

.seat-container {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 800px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.seat {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  border: 2px solid #ccc;
  background-color: #fff;
  transition: background-color 0.3s, transform 0.3s;
}

.seat.selected {
  background-color: green;
  color: white;
  border-color: green;
}

.seat.occupied {
  background-color: red;
  cursor: not-allowed;
  color: white;
}

.seat.blocked {
  background-color: gray;
  cursor: not-allowed;
  color: white;
}

.seat:hover:not(.occupied):not(.blocked) {
  background-color: #d3d3d3;
  transform: scale(1.1);
}

.bookbutton-container {
  margin-top: 20px;
}

.bookbutton {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.bookbutton-bg {
  background-color: rgb(206, 63, 63);
  color: white;
}

.bookbutton-bg:hover {
  background-color: rgb(190, 36, 36);
}

.gap {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .seat-container {
    max-width: 100%;
  }
  
  .screen {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .seat-theatre {
    width: 95%;
  }
  
  .screen {
    width: 90%;
  }
  
  .seat {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
  
  .bookbutton {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }
}